includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes

    # Naikkan bertahap setelah codebase lebih ter-tipe
    level: 4

